body {
  font-family: "proxima-nova", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 100%;
}
.h1,
.h2,
.h3,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
h3 {
  color: #58585b;
  font-size: 44px;
  font-weight: 600;
}
p {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
.logo {
  font-weight: bold;
  font-size: 40px;
  color: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.logo:hover {
  background: none;
  color: white;
}
a:hover {
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
}
.navbar {
  margin: 0;
  padding-top: 30px;
}
.navbar .navbar-nav li {
  margin-left: 20px;
}
.navbar .navbar-nav li a {
  font-family: "proxima-nova-soft", sans-serif;
  font-size: 18px;
  color: white;
  padding-top: 10px;
}
.navbar .navbar-nav li a.pledge {
  border-radius: 23px;
  background-color: #e2344d;
  display: inline-block;
  width: 147.274px;
  height: 45.07px;
  text-align: center;
}
.navbar .navbar-nav li a.pledge:hover {
  background-color: #CE1B34;
}
.navbar .navbar-nav li a:hover {
  background: none;
}
#unicorn {
  background: url('../img/thereactor.jpg') no-repeat;
  background-size: cover;
  height: 960px;
  position: relative;
  text-align: center;
  color: white;
}
#unicorn .content {
  position: relative;
  z-index: 2;
}
#unicorn .titles {
  margin-top: 182px;
}
#unicorn .titles p.intro {
  text-transform: uppercase;
  font-size: 28px;
}
#unicorn .titles p.desc {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 100px;
}
#unicorn .titles h1 {
  margin-top: 48px;
  margin-bottom: 72px;
  font-size: 110px;
  font-weight: 800;
}
#unicorn .social {
  color: white;
  position: absolute;
  z-index: 2;
  bottom: 93px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
#unicorn .social ul li {
  display: inline-block;
  margin-left: 12px;
}
#unicorn .social ul li:after {
  content: "||";
  font-size: 22px;
  font-weight: 600;
  display: inline-block;
}
#unicorn .social ul li:last-child:after {
  content: '';
}
#unicorn .social ul li i {
  padding-right: 5px;
  font-size: 32px;
}
#unicorn .social ul li a {
  font-size: 22px;
  font-weight: 600;
  color: white;
  padding-right: 10px;
}
#unicorn .arrow {
  z-index: 2;
  position: absolute;
  bottom: -39px;
  margin-right: 50%;
  margin-left: 50%;
}
#unicorn .arrow img {
  display: block;
}
#use-cases {
  padding-top: 145px;
  text-align: center;
}
#use-cases h1 {
  font-size: 130.2px;
  font-weight: 800;
  text-transform: uppercase;
  color: #d1d2d4;
}
#use-cases #desk {
  margin-top: 167px;
  margin-bottom: 181px;
  width: 100%;
  height: 100%;
  display: block;
}
#use-cases .case {
  text-align: left;
}
#use-cases .case img {
  position: absolute;
  right: 0;
  display: inline-block;
  width: 100%;
}
#use-cases .case h3 {
  padding-top: 122px;
  padding-bottom: 53px;
}
#use-cases .case p {
  color: #6d6e70;
  padding-bottom: 70px;
}
#overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  /* unicorn gradient */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b55aa0+0,3a56a3+33,2783c2+72,7dccc9+100 */
  background: #b55aa0;
  /* Old browsers */
  background: -moz-linear-gradient(left, #b55aa0 0%, #3a56a3 33%, #2783c2 72%, #7dccc9 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #b55aa0 0%, #3a56a3 33%, #2783c2 72%, #7dccc9 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #b55aa0 0%, #3a56a3 33%, #2783c2 72%, #7dccc9 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b55aa0', endColorstr='#7dccc9', GradientType=1);
  /* IE6-9 */
  opacity: 0.7;
  height: 100%;
  width: 100%;
}
